.container {
    width: 7rem;
    height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content:space-around;
    margin: 0 3rem 0 0;
    align-items: center;

    background:linear-gradient(var(--blue),transparent);
    background-color:var(--background); 
}

.container img {
    width: 3rem;
    height: 3rem;
}


.container button {
    border: 0;
    background: transparent;
    margin: 0;
}


.container > button{
    margin-bottom: 1rem;
}

@media only screen and (min-width: 100px) and (max-width:640px){
    .container{
        width: 100vw;
        height: 5rem;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        justify-content:space-around;
        margin-right: 1rem;
        background: var(--background);
        box-shadow: 10px 0 60px  rgba(0, 0, 0, 0.3) ;

    }
    .container .logo{
        display: none;
    }
 }
