
.container {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    overflow: auto;
}
.container header {
    height: 5rem;
    display:flex;
    align-items: center;
    justify-content: initial;

    font-size: 2rem;
    color: var(--title);

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:3;
}
.container header strong {
    font-size: 2rem;
    color: var(--title);    
}

.container main {
    overflow: auto;
}


.container main > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    background: var(--white);
    border-radius: 5px;
    
    padding: 1rem;
    margin: 10px 50px 10px 0;
    
    grid-column-start: 1;
    grid-column-end: 3;
}
.container .profile {
    display: flex;
    align-items: center;
    
    
}
.container .profile div {
    display: flex;
    flex-direction:column;
}
.container .profile > img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    margin-right: 0.7rem;
}

.container .profile .icon{
    margin-right:0.5rem;
    margin-top: 0.5rem;
}

@media only screen and (min-width: 50px) and (max-width:770px){ 
    .container main >div{
        flex-direction:column;
        align-items:center;
        justify-content: center;
        margin: 1rem;

    }

    .container .profile{
        flex-direction:column;
    }
}